{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    <form action="{{ actionUrl|default('') }}" id="norbr-payment-form" method="post" novalidate="novalidate" class="needs-validation">
        <div class="row">
            <div class="col-12">
                <div id="norbr-payment-error"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label for="norbr-payment-card" class="control-label mb-1">Card number</label>
                    <div class="form-group" id="norbr-payment-card" data-class="red form-control cc-number identified visa" data-placeholder="4111 xxxx xxxx xxxx"></div>
                </div>
            </div>
            <div class="col-2">
                <div id="norbr-payment-logo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="norbr-payment-expiry" class="control-label mb-1">Expiration</label>
                    <div class="form-group" id="norbr-payment-expiry" data-class="form-control cc-exp" data-placeholder="MM/YY"></div>
                </div>
            </div>
            <div class="col-6">
                <label for="norbr-payment-cvv" class="control-label mb-1">CVV</label>
                <div class="input-group">
                    <div class="form-group" id="norbr-payment-cvv" data-class="form-control cc-cc-cvc" data-placeholder="123"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="norbr-payment-holder" class="control-label mb-1">Card Holder</label>
            <div class="form-group" id="norbr-payment-holder" data-class="form-control cc-number identified visa" data-placeholder="Prénom Nom"></div>
        </div>
        <div>
            <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                <i class="fa fa-lock fa-lg"></i>&nbsp;
                <span id="payment-button-amount">Pay </span>
                <span id="payment-button-sending" style="display:none;">Sending…</span>
            </button>
        </div>
    </form>
{% endblock %}

{% block payum_javascripts %}
    {{ parent() }}
    <script src="/bundles/sherlockodesyliusnorbrplugin/js/norbr-form-handler.js"></script>
    <script src="https://assets-sandbox.norbr.io/javascript/0.2/norbr-client.js"></script>
    <script>
        function onDocumentReady(fn) {
            if (document.readyState !== 'loading') {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        onDocumentReady(function() {
            new Norbr('{{ publishable_key }}');
            new NorbrFormHandler('norbr-payment-form');
        });
    </script>
{% endblock %}
